<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATOS  </title>
</head>
<body>


{% for a in morty %}
    {%for unidad in a.results%}
        <table class="default" border="1" align="center">
            <tr>
                <th>PERSONAJES</th>
            </tr>
            <tr>
                <th><h3>NOMBRE: <a href="{{ url_for('bp_nombres.datos', id =unidad.id ) }}">{{ unidad.name }}</a> </h3></th>
            </tr>
            <tr>
                <th><h3>ESPECIE: {{ unidad.species }}</h3></th>
            </tr>
            <tr>
                <th><h3>ESTADO: {{ unidad.status }}</h3></th>
            </tr>
                <th><h3>Genero: {{ unidad.gender }}</h3></th>
            <tr>
                <th><h3>LOCALIDAD: {{ unidad.location.name }}</h3></th>
            </tr>

            <td>
            <th>
                <img src=" {{ unidad.image }}" ></img>
            </th>
            </td>

        </table>
    {% endfor %}
{% endfor %}

</body>
</html>